@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* header styles */

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    height: 350px;
border-radius: 10px;
font-family: "Merriweather", serif;
margin: 1cm 4cm 2cm;
    background:linear-gradient(180deg, rgb(29, 29, 29) 2.884%,rgba(26, 25, 25, 0) 125.034%),  url("/images/Banner Image.png");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 100%;
}
.header h1{
    font-size: 60px;
    text-align: center;
}
.header h1 span{
display: block;
}
.header p{
    font-size: 25px;
    
}

/* discount styles */

.discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Inter", serif;
    margin: 0cm 0 3cm;
}
.discount h1{
    font-size: 80px;
    color: red;
    margin-bottom: 20px;
}
.discount p{
    font-size: 20px;
    color: red;

}
.discount h3{
    font-size: 40px;
    margin-bottom: .5cm;
}
.discount img{
 height: 40%;
 width: 40%;
}

/* party styles */
.party{
    background:linear-gradient(90deg, rgb(29, 29, 29) 2.884%,rgba(26, 25, 25, 0) 125.034%),url("/images/Group 70.png"),  url("/images/Vectorrr.png");
background-position: center center, center  right 2.6cm;
background-repeat: no-repeat no-repeat;
background-size: 100% , 18%;
height: 375px;
color: white;
margin:0 4cm 2cm;
border-radius: 10px;
}
.party-container{
    display: flex;
    flex-direction: column;
    gap: 0px;
max-width: 50%;
padding: 2cm 2cm;

}
.party-container h1{
    font-size: 55px;
   
}
.party-container p{
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;

}
.party-container h6{
    font-size: 16px;
    margin-left: 20px;
}
/* details styles */
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Inter", serif;
    margin: 2cm 4cm 3cm;
    background:linear-gradient(180deg, #ffe6e6 0.01%,#fffefe 130.034%) ;
    padding: 2cm;
    border-radius: 10px;
}
.details h4 span{
    color: red;
}
.details button{
    color: white;
   background-color: red;
   border-radius: 5px;
   border:none;
   margin-top: 15px;
   cursor: pointer;
    padding: 10px 20px;

}
/* flexible styles */
.flexible{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter", serif;
    margin: 2cm 4cm;
}
.flexible-item1{
    display: flex;
    flex-direction: column;
    gap: 15px;
 width: 25%;
 
 
}
.flexible-item1 h5{
color: red;
 font-size: 20px;
}
.flexible-item1 h3{
font-size: 32px;
 
}
.flexible-item1 p{
font-size: 11px;
line-height: 20px;
 color: #070211;
}
.flexible-item2{


 width: 25%;

 
}
.flexible-item2 img{
height: 90%;
width: 90%;
 border: 10px solid red;
 border-radius: 50%;
 padding: 15px;
 margin-right: 2cm;
}
.flexible-item3{
    display: flex;
    flex-direction: column;
    gap: 15px;
 width: 25%;
 margin-left: 1cm;
 
}
.flexible-item3 h3{
    color: red;
    font-size: 32px;
 
}
.flexible-item3 p{
    font-size: 11px;
    line-height: 20px;
     color: #070211;
}
.flexible-item3 img{
 height: 32%;
 width: 32%;
 margin-top: 10px;
}

/* sale styles */
.sale {
   gap: 3px;
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 2.5cm 4cm 2cm;
   background: url("/images/Rectangle 2.png");
   background-repeat: no-repeat no-repeat;
   background-position: bottom center;
background-size: 100%;
}
.sale h1{
    margin-bottom: 20px;
    font-family: "Merriweather", serif;
font-size: 55px;
}
.sale p{
    font-family: "Inter", serif;
 font-size: 13px;

}
.images{
    display: flex;
    justify-content: space-between;
    margin-top: 2cm;
    align-items: center;
}
.img1{
height: 50%;
width: 50%;
margin-left: 2cm;
}
.img2{
    margin-right: 2.4cm;
height: 15%;
width: 18%;
margin-bottom: 3cm;
}
/* port styles */
.port{
    margin: 2cm 4cm 3cm;
    display: flex;
    flex-direction: column;
}
.port p{
    font-family: "Inter", serif;
}
.port h2{
    font-family: "Merriweather", serif;
}
.port-container{
    margin-top: 20px;
    
}
.port-items{
    justify-content: space-around;
    display: flex;
    gap: 15px;
    margin: 20px 0 0;
}
.port-items img{
width: 30%;
}
/* subscribe styles */
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2cm 4cm 2cm;
    background-color: #fff2f2;
    border-radius: 10px;
    padding: 2cm;
    gap: 10px;
}
.subscribe img{
    width: 15%;
}
.subscribe h1{
  font-family: "Merriweather", serif;
  font-size: 35px;
  margin: 10px 0;
}
.subscribe p{
    font-family: "Inter", serif;
    font-size: 13px;
}
[type="text"]{
    border: none;
    height: 31px;
    width: 350px;
    padding: 8px;
    border-radius: 50px 0 0 50px;
    /* margin-top: -2px; */
}
label{
    background-color: red;
    color: white;

margin-left: -4px;

    padding: 13.5px 30px;
    border-radius: 0 50px 50px 0;
}
/* footer styles */
.footer{
  background-color: black;
color: white;
padding: 2cm 2cm 20px;
}
.footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid #26222F;
    padding-bottom: 20px;
}
.footer-details p img{
    margin-right: 13px;
}

.footer-details2 .flex{
    display: flex;
    margin-bottom: 10px;
gap: 10px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    gap: 10px;
    border-bottom: .5px solid #26222F;

}
.footer-icons img{
    width: 4%;
}

.ending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5cm 0 1cm;
}